.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notesTable {
  border-collapse: collapse;
  table-layout: auto;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: 2px solid rgb(0, 0, 0);
}
.notesHead {
  background-color: rgb(125, 40, 158);
}

th {
  padding: 1rem 0.75rem;
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
}

td {
  background-color: rgb(186, 186, 214);
  border: 1px solid rgb(0, 0, 0);
  color: black;
  text-align: left;
  padding: 1rem 0.5rem;
}

li {
  font-size: 16px;
  color: black;
  margin: 0.5rem 0;
}

.pageTitle {
  color: rgb(30, 139, 228);
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
  font-size: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.topicList {
  display: block;
}
.divider {
  background-color: rgb(51, 49, 59);
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  padding: 0.5rem 0.75rem;
  color: white;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.notesInfo {
  width: 80vw;
  margin: 1rem auto;
  padding: 0.5rem 0;
  line-height: 32px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: purple;
}
